@charset "UTF-8";

/* 부트스트랩의 변수들을 참고하여 아코디언에 필요한 변수 추가 */
:root {
    --accordion-color: #000; /* 텍스트 색상 */
    --accordion-bg: #fff; /* 배경색 */
    --accordion-transition: 0.4s ease; /* 전환 효과 지속 시간 */
    --accordion-border-color: rgba(0, 0, 0, 0.125); /* 테두리 색상 */
    --accordion-border-width: 1px; /* 테두리 두께 */
    --accordion-border-radius: 0.25rem; /* 테두리 반지름 */
    --accordion-inner-border-radius: 0; /* 내부 테두리 반지름 */
    --accordion-btn-padding-x: 1.25rem; /* 버튼 가로 여백 */
    --accordion-btn-padding-y: 0.75rem; /* 버튼 세로 여백 */
    --accordion-btn-color: #212529; /* 버튼 텍스트 색상 */
    --accordion-btn-bg: #fff; /* 버튼 배경색 */
    --accordion-btn-icon-width: 1rem; /* 버튼 아이콘 너비 */
    --accordion-btn-icon-transform: rotate(180deg); /* 버튼 아이콘 변형 */
    --accordion-btn-icon-transition: transform 0.2s ease; /* 버튼 아이콘 전환 효과 */
    --accordion-btn-active-icon: ""; /* 활성 상태 버튼 아이콘 */
    --accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(207, 226, 255, 0.25); /* 포커스 시 그림자 */
    --accordion-body-padding-x: 1.25rem; /* 내용 가로 여백 */
    --accordion-body-padding-y: 0.75rem; /* 내용 세로 여백 */
    --accordion-active-color: #fff; /* 활성 상태 텍스트 색상 */
    --accordion-active-bg: #CFE2FF; /* 활성 상태 배경색 */
}

/* 아코디언 스타일 설정 */
.accordion-item {
    margin-bottom: 1rem; /* 아코디언 아이템 간격 조정 */
}

.accordion-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0.75rem 1.25rem;
    text-align: left;
    border: 1px solid #000; /* 배경 테두리 색상 */
    background-color: #fff; /* 클릭되지 않은 상태의 배경색 */
    color: #000; /* 클릭되지 않은 상태의 텍스트 색상 */
    border-radius: 0.25rem;
}

.accordion-button:not(.collapsed) {
    background-color: #fff; /* 클릭되지 않은 상태의 배경색 */
}

.accordion-button:focus {
    z-index: 1;
    background-color: #CFE2FF;
    border-color: #CFE2FF; /* 클릭된 상태의 배경 테두리 색 */
    box-shadow: 0 0 0 0.25rem rgba(207, 226, 255, 0.25);
    outline: 0;
}

.accordion-button::after {
    flex-shrink: 0;
    width: 1rem;
    height: 1rem;
    margin-left: auto;
    content: "";
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='%23000' d='M8.854 10.646a.5.5 0 0 0 .707 0l4-4a.5.5 0 0 0-.707-.707L8 9.293l-3.646-3.647a.5.5 0 1 0-.707.707l4 4z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: center center;
    transition: transform 0.2s ease;
}

.accordion-button.collapsed::after {
    transform: rotate(-180deg);
}

.accordion-body {
    padding: 1.25rem;
    border-top: 1px solid #000; /* 배경 테두리 색상 */
    border-bottom: 1px solid #000; /* 배경 테두리 색상 */
    background-color: #fff; /* 클릭되지 않은 상태의 배경색 */
}

.accordion-collapse {
    display: none;
}

.collapse.show {
    display: block;
}

.collapsing {
    height: 0;
    overflow: hidden;
    transition: height 0.35s ease;
}
